.knowledge-sphere {
  border-radius: 9999px;
  max-width: fit-content;
  margin-inline: auto;
  position: relative;
}

.sphere {
  position: absolute;
  left: 0;
  top: 0;
  font-family: var(--ff-mono);
  font-weight: 500;
  letter-spacing: 0.0625em;
  font-size: var(--fs-lg);
  cursor: default;
}

.sphere--item {
  color: var(--neutral-500);
  transition: all var(--ease-out-sine) var(--ms200);
}

@media only screen and (max-width: 490px) {
  .knowledge-sphere-box {
    display: none;
  }
}
