.btn-box .btn {
  font-family: var(--ff-sans-title);
  font-size: var(--fs-base);
  font-weight: 600;
  letter-spacing: 0.25px;
  text-decoration: none;
  color: var(--neutral-400);
  max-width: fit-content;
  display: block;
  margin-block: 1.5rem;
  padding: 0.625em 2em;
  background-color: var(--primary-600);
  border: 2px solid transparent;
  border-radius: 0.375em;
  transition: all var(--ease-out-sine) var(--ms200);
}

.btn-box .btn:is(:focus, :active, :hover) {
  background-color: var(--primary-430);
  border-color: var(--primary-600);
  color: var(--primary-600);
  box-shadow: var(--box-shadow-btn);
  transform: translateY(-0.25em);
}
