:root {
  --primary-450: hsl(14, 51%, 75%, 0.5);
  --primary-500: hsl(14, 51%, 75%);
  --primary-600: hsl(346, 57%, 47%);
  --neutral-400: hsl(50, 21%, 95%);
  --neutral-450: hsl(38, 8%, 72%, 0.7);
  --neutral-500: hsl(38, 8%, 72%);
  --neutral-700: hsl(236, 20%, 32%);
  --neutral-750: hsl(233, 23%, 21%, 0.5);
  --neutral-800: hsl(233, 23%, 21%);

  --ff-sans-title: 'Work Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  --ff-sans-body: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  --ff-mono: 'Roboto Mono', monospace;

  --fs-xs: 0.875rem;
  --fs-sm: 0.9375rem;
  --fs-base: 1rem;
  --fs-lg: 1.125rem;
  --fs-xl: 1.25rem;
  --fs-xxl: 1.5rem;
  --fs-2xl: 1.75rem;
  --fs-3xl: 2rem;
  --fs-4xl: 2.5rem;
  --fs-5xl: 3rem;
  --fs-6xl: 3.5rem;

  --ease-out-quad: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  --ease-out-cubic: cubic-bezier(0.215, 0.61, 0.355, 1);
  --ease-out-expo: cubic-bezier(0.95, 0.05, 0.795, 0.035);
  --ease-out-sine: cubic-bezier(0.39, 0.575, 0.565, 1);
  --ease-in-out-quad: cubic-bezier(0.455, 0.03, 0.515, 0.955);
  --ease-in-out-cubic: cubic-bezier(0.645, 0.045, 0.355, 1);
  --ease-in-out-expo: cubic-bezier(1, 0, 0, 1);
  --ease-in-out-sine: cubic-bezier(0.445, 0.05, 0.55, 0.95);

  --ms50: 50ms;
  --ms100: 100ms;
  --ms150: 150ms;
  --ms200: 200ms;
  --ms250: 250ms;
  --ms300: 300ms;
  --ms350: 350ms;
  --ms400: 400ms;
  --ms450: 450ms;
  --ms500: 500ms;
  --ms550: 550ms;
  --ms600: 600ms;
  --ms650: 650ms;
  --ms700: 700ms;
  --ms750: 750ms;
  --ms800: 800ms;
  --ms850: 850ms;
  --ms900: 900ms;
  --ms950: 950ms;
  --s1: 1000ms;
  --s2: 2000ms;
  --s3: 3000ms;
  --s4: 4000ms;
  --s5: 5000ms;
}

body {
  background-color: var(--neutral-400);
  font-family: var(--ff-sans-body);
}

main {
  position: relative;
}

@media (max-width: 50em) {
  :root {
    --fs-4xl: 1.75rem;
    --fs-6xl: 2.25rem;
  }
}
