.connect {
  max-width: 1356px;
  margin-inline: auto;
  padding-inline: 4rem;
  padding-block: 4rem 10rem;
}

.cta-box {
  margin-bottom: 2.5rem;
  margin-inline: auto;
  text-align: center;
  max-width: fit-content;
  border-bottom: 1px solid var(--primary-450);
}

.cta-box .title {
  font-family: var(--ff-sans-title);
  font-size: var(--fs-2xl);
  font-weight: 800;
  letter-spacing: 0.25px;
  color: var(--neutral-800);
  margin-block-end: 0.5em;
  position: relative;
  max-width: fit-content;
  margin-inline: auto;
}

.cta-box .title::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 0.125em;
  background-color: var(--primary-600);
}

.cta-box .sub-title {
  font-family: var(--ff-sans-title);
  font-size: var(--fs-xxl);
  font-weight: 700;
  color: var(--neutral-750);
}

.cta-box .text {
  font-family: var(--ff-sans-body);
  font-size: var(--fs-base);
  font-weight: 400;
  color: var(--neutral-700);
  max-width: 55ch;
  line-height: 1.75rem;
  margin-inline: auto;
  margin-block: 1.125em;
}

.cta-box .text .bold {
  font-weight: 500;
  color: var(--neutral-800);
}

.cta-box .btn {
  margin-inline: auto;
}

.connect-links {
  display: flex;
  flex-wrap: wrap;
  gap: 1.375rem;
  justify-content: center;
}

.connect-links .link {
  display: block;
  font-size: 1.625rem;
  color: var(--primary-570);
  transition: all var(--ease-out-sine) var(--ms200);
}

.connect-links .link:is(:focus, :active, :hover) {
  color: var(--primary-600);
  transform: translateY(-0.125em);
}

@media only screen and (max-width: 50em) {
  .connect {
    margin-block: 0 3.5rem;
    padding-inline: 1.5rem;
  }
  .cta-box .title {
    font-size: var(--fs-xl);
  }
  .cta-box .sub-title {
    font-size: var(--fs-lg);
  }
  .cta-box .cta {
    font-size: var(--fs-base);
  }
}
