.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 1.5em;
  position: fixed;
  inset: 0 0 auto;
  overflow: hidden;
  z-index: 100;
  background-color: var(--neutral-380);
  transition: all var(--ease-out-sine) var(--ms200);
  backdrop-filter: blur(15px);
}

.nav.nav-fixed {
  padding-block: 0.5em;
  box-shadow: 0 0 0.5em var(--primary-450);
}

.nav-logo-box {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--primary-600);
}

.nav-logo-icon {
  height: 2.25rem;
  display: inline-block;
}

.nav-logo-text {
  font-size: var(--fs-xl);
  font-family: var(--ff-sans-title);
  font-weight: 600;
  letter-spacing: 1px;
  margin-left: -2px;
}

.nav-links-box {
  display: flex;
  gap: 2.375rem;
  align-items: center;
}

.nav-links {
  font-family: var(--ff-sans-title);
  font-weight: 600;
  font-size: var(--fs-xs);
  letter-spacing: 0.25px;
  text-decoration: none;
  display: block;
  color: var(--neutral-800);
  position: relative;
}

.nav-links:not(.resume)::after {
  content: '';
  height: 2px;
  width: 100%;
  background-color: var(--primary-600);
  position: absolute;
  left: 0;
  bottom: -0.125rem;
  transform: scale(0);
  transform-origin: center;
  transition: all var(--ease-out-quad) var(--ms200);
}

.nav-links:not(.resume):is(:hover, :active, :focus) {
  color: var(--neutral-700);
}

.nav-links:not(.resume):is(:hover, :active, :focus)::after {
  transform: scale(1);
}

.nav-links.resume {
  color: var(--neutral-400);
  background-color: var(--primary-600);
  padding: 0.75em 2em;
  border-radius: 2em;
  transition: all var(--ease-out-sine) var(--ms200);
}

.nav-links.resume:is(:hover, :active, :focus) {
  background-color: var(--primary-570);
  box-shadow: var(--box-shadow-btn);
}

.nav-menu {
  display: none;
}

@media only screen and (max-width: 50em) {
  .nav {
    padding: 1.5rem;
    position: fixed;
    overflow: visible;
  }

  .nav-menu {
    display: block;
    height: 2rem;
  }

  .nav-logo-icon {
    max-height: 2rem;
    display: inline-block;
  }

  .nav-logo-text {
    font-size: var(--fs-base);
  }

  .nav-links-box {
    display: none;
    position: fixed;
    inset: 5em 0 auto 0;
    padding-block: 2em;
    background-color: var(--neutral-400);
    box-shadow: 0 100vh 0 100vh var(--neutral-670);
    transition: box-shadow var(--ease-out-sine) var(--ms200);
    transform: translateY(-20%);
    z-index: 0;
  }

  .nav-links {
    font-size: var(--fs-base);
  }

  .nav-links-box.expanded {
    display: flex;
    flex-direction: column;
    gap: 2.25rem;
    animation: menu-open var(--ease-out-sine) var(--ms300) forwards;
    z-index: 100;
  }

  .nav-links-box.expanded.fix {
    top: 3.5em;
  }

  .nav.nav-fixed {
    padding-block: 0.75em;
  }
}
