.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 1.5em;
  position: fixed;
  left: 0;
  right: 0;
  overflow: hidden;
  z-index: 50;
  background-color: var(--neutral-380);
  transition: all var(--ease-out-sine) var(--ms200);
}

.nav.blur-bg {
  backdrop-filter: blur(1rem);
  padding-block: 0.75em;
  box-shadow: 0 0 0.75em var(--neutral-450);
}

.nav-logo {
  height: 1.75rem;
}

.nav-links-box {
  display: flex;
  gap: 2.375rem;
  align-items: center;
}

.nav-links {
  display: block;
  font-family: var(--ff-mono);
  font-size: var(--fs-xs);
  letter-spacing: 0.25px;
  font-weight: 700;
  text-decoration: none;
  color: inherit;
  position: relative;
}

.nav-links:not(.resume)::after {
  content: '';
  height: 2px;
  width: 100%;
  background-color: var(--primary-600);
  position: absolute;
  left: 0;
  bottom: -0.125rem;
  transform: scale(0);
  transform-origin: center;
  transition: all var(--ease-out-quad) var(--ms200);
}

.nav-links:not(.resume):hover {
  opacity: 0.8;
}

.nav-links:not(.resume):is(:focus, :active, :hover)::after {
  transform: scale(1);
}

.nav-links.resume {
  background-color: var(--primary-600);
  color: var(--neutral-400);
  padding: 0.625em 1.75em;
  border-radius: 50em;
  transition: all var(--ease-out-sine) var(--ms200);
}

.nav-links.resume:is(:focus, :active, :hover) {
  opacity: 0.7;
  box-shadow: 0 0 0.5em var(--neutral-500);
}

.nav-menu {
  display: none;
  height: 2rem;
}

@media only screen and (max-width: 50em) {
  .nav {
    padding: 1.5rem;
    position: fixed;
    overflow: visible;
  }
  .nav-logo {
    height: 1.5rem;
  }
  .nav-links-box {
    display: none;
    gap: 2rem;
    position: fixed;
    top: 5em;
    left: 0;
    right: 0;
    padding-block: 2em;
    background-color: var(--neutral-400);
    animation: menu var(--ease-out-sine) var(--ms200);
    z-index: 50;
    transition: all var(--ease-out-sine) var(--ms200);
    box-shadow: 0 0.375em 0.5em var(--neutral-450);
  }

  .nav-menu {
    display: block;
  }

  .nav-links-box.expanded {
    display: flex;
    flex-direction: column;
  }

  .nav-links-box.expanded.fix {
    top: 3.5em;
  }
}
