.whoami {
  max-width: 1356px;
  margin-block-end: 3rem;
  padding-inline: 4rem;
  padding-block-start: 5rem;
  margin-inline: auto;
}

.text-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-inline: auto;
  max-width: 62.5ch;
}

.whoami .title {
  font-size: var(--fs-xxl);
  font-family: var(--ff-sans-title);
  font-weight: 800;
  letter-spacing: 0.25px;
  color: var(--neutral-800);
  margin-block-end: 1rem;
  position: relative;
  max-width: fit-content;
}

.whoami .title::after {
  left: 0;
  bottom: 0;
  content: '';
  position: absolute;
  width: 100%;
  height: 0.125em;
  background-color: var(--primary-600);
}

.whoami .text {
  font-size: var(--fs-base);
  font-family: var(--ff-sans-body);
  color: var(--neutral-700);
  line-height: 2rem;
  margin-block: 0.75rem;
  max-width: 72ch;
}

.whoami .text .bold {
  font-weight: 500;
  color: var(--neutral-800);
}

.whoami .text .italic {
  font-style: italic;
}

.whoami .text .mono {
  font-weight: 500;
  font-family: var(--ff-mono);
  color: var(--neutral-800);
}

@media only screen and (max-width: 50em) {
  .whoami {
    margin-block-start: 0;
    padding-inline: 1.5rem;
    padding-block-start: 1.5rem;
  }

  .whoami .title {
    font-size: var(--fs-xl);
  }
}
